<div class="row ">
    <div class="col-md-9">
        <h2>Danh Sách Phòng Chiếu:</h2>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/newroom']">Thêm Phòng</button>
    </div>
</div>
<div class="row ">
    <table class="table w-75">
        <thead class="thead-light">
            <tr>
                <th scope="col">Mã Phòng</th>
                <th scope="col">Tên Phòng</th>
                <th scope="col">Chi tiết ghế</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms| paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                <td>{{room.idRoom}}</td>
                <td>{{room.nameRoom}}</td>
                <td><a [routerLink]="['/roomdetail', room.idRoom]">chi tiết</a></td>
                <td><a [routerLink]="['/roomedit', room.idRoom]"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        </tbody>
        <div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </table>
</div>