<div class="row" id="content-1">
    <div class="col-md-3">
        <img src="../../../assets/khuyen mai.jpg" width="100%" height="100%">
    </div>
    <div class="col-md-9">
        <h3><b>Chương trình Khuyến mãi muốn xóa</b></h3>
        <table class="table">
            <tr>
                <td><b>Tiêu đề:</b></td>
                <td>{{promotion.titlePromotion}}</td>
            </tr>
            <tr>
                <td><b>Thời gian bắt đầu:</b></td>
                <td>{{promotion.startDate}}</td>
            </tr>
            <tr>
                <td><b>Thời gian kết thúc:</b></td>
                <td>{{promotion.endDate}}</td>
            </tr>
            <tr>
                <td><b>Mức giá giảm:</b></td>
                <td>{{promotion.saleOff}} đồng</td>
            </tr>
            <tr>
                <td><b>Chi tiết:</b></td>
                <td>{{promotion.detailPromotion}}</td>
            </tr>
        </table>
        <button type="button" class="btn btn-primary" (click)="Confirm()">Xác nhận</button>
    </div>
</div>