.col-sm-13{
    /* height: auto; */
    min-height: 500px;
}
.col-sm-13 td{
    margin-left: 50px; 
}
.col-sm-13 input{
    margin-left: 50px; 
}
#add{
    margin-left: 50px; 
}
#back{
    margin-left: 20px;
}
i{
    color: #e55039;
}