<h2>Sửa Thông Tin Nhân Viên</h2>
<hr>
<div class="col-sm-13" *ngIf="employee; else nothing">
    <form [formGroup]="employeeForm" (ngSubmit)="update(newPassWord.value,veriPassWord.value)">
        <table>
            <tr>
                <td>
                    <p>Hình Ảnh <i>*</i></p>
                </td>
                <td><input type="file" formControlName="imageEmployee" class="form-control"></td>
                <!-- formControlName="imageEmployee" value={{employee.imageEmployee}} -->
            </tr>
            <br>
            <tr>
                <td>
                    <p>Tài Khoản <i>*</i></p>
                </td>
                <td><input type="text" formControlName="accountEmployee" value={{employee.accountEmployee}} disabled class="form-control" placeholder="Tài Khoản"></td>
            </tr>
            <br>
            <tr>
                <td>
                    <p>Mật Khẩu <i>*</i></p>
                </td>
                <td><input type="password" #newPassWord formControlName="passwordEmployee" class="form-control" placeholder="Mật Khẩu"></td>
            </tr>
            <br>
            <tr>
                <td>
                    <p>Nhập Lại Mật Khẩu <i>*</i></p>
                </td>
                <td><input type="password" #veriPassWord class="form-control" placeholder="Xác Nhận Mật Khẩu"></td>
            </tr>
            <br>
            <tr>
                <td>
                    <p>Họ Tên <i>*</i></p>
                </td>
                <td><input type="text" formControlName="nameEmployee" value={{employee.nameEmployee}} class="form-control" placeholder="Họ Và Tên"></td>
            </tr>
            <br>
            <tr>
                <td>
                    <p>Ngày Sinh <i>*</i></p>
                </td>
                <td><input type="date" formControlName="birthDayEmployee" value={{employee.birthDayEmployee}} class="form-control"></td>
            </tr>
            <br>
            <tr>
                <td>Giới Tính : </td>
                <td>
                    <input type="radio" name="sexEmployee" formControlName="sexEmployee" value="Man"> Nam
                    <input type="radio" name="sexEmployee" formControlName="sexEmployee" value="Woman"> Nữ
                </td>
            </tr>
            <br>
            <tr>
                <td>
                    Email <i>*</i>
                </td>
                <td><input type="email" formControlName="emailEmployee" value={{employee.emailEmployee}} class="form-control" placeholder="Email" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </td>
            </tr>
            <br>
            <tr>
                <td>
                    CMND <i>*</i>
                </td>
                <td><input type="text" formControlName="licenseEmployee" value={{employee.licenseEmployee}} class="form-control" placeholder="Chứng Minh Nhân Dân"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </td>
            </tr>
            <br>
            <tr>
                <td>
                    Số Điện Thoại <i>*</i>
                </td>
                <td><input type="text" formControlName="numberPhoneEmployee" value={{employee.numberPhoneEmployee}} class="form-control" placeholder="Số Điện Thoại"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </td>
            </tr>
            <br>
            <tr>
                <td>
                    Địa Chỉ <i>*</i>
                </td>
                <td><input type="text" formControlName="addressEmployee" value={{employee.addressEmployee}} class="form-control" placeholder="Địa Chỉ"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </td>
            </tr>
            <br>
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-primary" id="add"><span class="glyphicon glyphicon-ok-sign"></span>Sửa</button>
                    <button type="button" routerLink="/admin/employeeList" class="btn btn-primary" id="back"><span class="glyphicon glyphicon-circle-arrow-left"></span>Quay Lại</button>
                </td>
            </tr>
        </table>
    </form>
</div>
