#header{
    background-image: url('../../../assets/anh-nen-thien-nhien-118.jpg');
    background-position-y: -420px;
    background-position-x: -1200px;
}

.lore{
    color:white;
    font-weight: bold;
    text-decoration: none;
    text-shadow:black 0.2em 0.2em 0.2em;
}
.lore:hover{
    color: deepskyblue;
}

.nav-link{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
#search{
    width: 330px;
}

#nav{
    height: 60px;
    background-color:black;
    position: relative;
}

.item-nav{
    float: left;
}

.item-navs button{
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: chocolate;
    color: white;
}

.item-navs input{
    float: right;
    position: absolute;
    top: 10px;
    right: 100px;
}
