<h3> Thêm Phòng Chiếu</h3>
<hr>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Tên Phòng</label>
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="room.nameRoom" name="nameRoom">
      </div>
      <div class="form-group">
        <label for="name">Mô tả:</label>
        <textarea type="text" class="form-control" id="Description" required [(ngModel)]="room.description" name="Description" style="height: 150px;"></textarea>
      </div>
    <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Thêm</button>
    <button type="submit" class="btn btn-primary" [routerLink]="['/rooms']">Cancel</button>
</form>
<br>