<div id="listDiv" class="row">
    <div class="d-flex justify-content-between w-100">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1><b>Danh sách khuyến mãi</b></h1>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center"><button class="btn btn-info" type="button" [routerLink]="['/addPromotion']">Thêm chương trình Khuyến mãi</button></div>
    </div>

    <div style="width: 100%;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tiêu đề &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <input class="form-control" type="text" placeholder="Search" [(ngModel)]="keyword" aria-label="Search" (change)="Search(keyword)">
                    </div>
                </th>
                    <th scope="col">Thời gian bắt đầu</th>
                    <th scope="col">Thời gian kết thúc</th>
                    <th scope="col">Mức giảm giá</th>
                    <th scope="col">Chi tiết</th>
                    <th scope="col">Sửa</th>
                    <th scope="col">Xóa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let promotion of promotions | paginate: {itemsPerPage:5, currentPage:p}">
                    <td>{{promotion.titlePromotion}}</td>
                    <td>{{promotion.startDate}}</td>
                    <td>{{promotion.endDate}}</td>
                    <td>{{promotion.saleOff}} đồng</td>
                    <td>{{promotion.detailPromotion}}</td>
                    <td><a [routerLink]="['/editPromotion', promotion.idPromotion]"><span
                                class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a [routerLink]="['/deletePromotion', promotion.idPromotion]"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="page">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>