<div class="container ng-scope" style="min-height: 450px;">
    <div *ngIf="promotions.length!=0;else not">
        <div *ngFor='let promotion of promotions'>
            <!-- <div *ngIf="isEndDate(promotion.endDate|date:'yyyy/MM/dd',(today|date:'yyyy/MM/dd'))"> -->
            <ul style="list-style: none;" class="col-md-4">
                <li style="width: 100%;">
                    <button [routerLink]="['/Khuyenmaidetail',promotion.idPromotion]" style="width: 100%;">
                        <img src="{{promotion.imgPromotion}}" style="width: 100%;">
                    </button>
                </li>
                <li style="width: 100%;"><span class="glyphicon glyphicon-calendar"></span>
                    Từ {{promotion.startDate|date:"dd/MM"}} đến {{promotion.endDate|date:"dd/MM/yyyy"}}</li>
                <li style="width: 100%;">
                    <button type="button" class="btn btn-primary btn-lg"
                        [routerLink]="['/Khuyenmaidetail',promotion.idPromotion]" style="width: 100%;">Xem ngay
                    </button>
                </li>
            </ul>
            <!-- </div> -->
        </div>
    </div>
    <ng-template #not>Content to render when value is null.</ng-template>
</div>