<h3>Update Chair</h3>
<form (ngSubmit)="updateChair()">
    <div class="form-group">
        <label for="name">Hàng:</label>
        <input type="number" class="form-control" id="row" required [(ngModel)]="chair.row" name="row" disabled>
    </div>
    <div class="form-group">
        <label for="name">Cột:</label>
        <input type="number" class="form-control" id="column" required [(ngModel)]="chair.column" name="column"
            disabled>
    </div>
    <div class="form-group">
        <label for="name">Position:</label>
        <input type="text" class="form-control" id="Position" required [(ngModel)]="chair.position" name="Position"
            disabled>
    </div>
    <div class="form-group">

        <div *ngIf="chair.idChairDetail==1">
            <label for="name">Loại ghế : </label>
            <input class="chair-detail" type="radio" name="change-detai" #chairDetail1 value="1"
                (change)="changDetail(chairDetail1.value)" [checked]='true'> Normal
            <input class="chair-detail" type="radio" name="change-detai" #chairDetail2 value="2"
                (change)="changDetail(chairDetail2.value)"> VIP
        </div>
        <div *ngIf="chair.idChairDetail==2">
            <label for="name">Loại ghế : </label>
            <input class="chair-detail" type="radio" name="change-detai" #chairDetail1 value="1"
                (change)="changDetail(chairDetail1.value)"> Normal
            <input class="chair-detail" type="radio" name="change-detai" #chairDetail2 value="2"
                (change)="changDetail(chairDetail2.value)" [checked]='true'> VIP
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-primary" style="margin-left: 10px;"
        [routerLink]="['/chairdetail',idRoom,idChair]">Back</button>
</form>
<br>