<div class="container">
    <div class="panel-body" style="min-height: 350px;">
        <div class="row">
            <div class='col-md-12'>
                <label class="control-label">chọn ngày :</label>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput [matDatepicker]="myDatepicker" [(ngModel)]='setDate' [min]="minDate"
                            [max]="maxDate">
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-md-12'>
                <div class="form-group">
                    <div *ngFor='let filmShows of filmShowMap|keyvalue'>
                        <div *ngIf="isContainFilmAsDay(filmShows.value,  (setDate| date: 'dd/MM/yyyy'))"
                            class="col-md-6" style="margin-bottom: 10px;min-height: 200px;">
                            <li class="list-group-item" style="font-weight:bold;background: lightblue;">
                                {{filmShows.key}}</li>
                            <li class="list-group-item" style="float: left; width: 100%;">Giờ Chiếu:
                                <hr>
                                <div *ngFor="let filmShow of filmShows.value">
                                    <div *ngIf="isSameDay(filmShow.showDate, (setDate | date: 'dd/MM/yyyy'))">
                                        <div class="list-group-item" style="border: none; float: left;">
                                            <button style="float: left;" [routerLink]="['/chonve', filmShow.idTime]">
                                                {{filmShow.showTime.timeStart}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>