.form-group input{
    width: 70%;
    }
    
    .form-group textarea{
    width: 70%;
    min-height: 150px;
    }
    button{
        margin: 0.2em 0.2em 0.2em 0.2em;
    }    
    span{
        font-style: italic;
        color: red;
    }