<div class="row">
    <h3>Xem giá vé:</h3>
    <br>
    <table class="table table-hover" style="border:1px solid ">
        <thead>
            <tr>
                <th colspan="4" style="background :lightgray;">Giá vé 2D:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th>Thứ 2,4,5</th>
                <th>Thứ 3</th>
                <th>Thứ 6,7,CN</th>
            </tr>
            <tr>
                <td>Trước 17h</td>
                <td>50000 vnđ</td>
                <td>45000 vnđ</td>
                <td>65000 vnđ</td>
            </tr>
            <tr>
                <td>Sau 17h</td>
                <td>60000 vnđ</td>
                <td>45000 vnđ</td>
                <td>75000 vnđ</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table table-hover" style="border:1px solid ">
        <thead>
            <tr>
                <th colspan="4" style="background :lightgray;">Giá vé 3D:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th>Thứ 2,4,5</th>
                <th>Thứ 3</th>
                <th>Thứ 6,7,CN</th>
            </tr>
            <tr>
                <td>Trước 17h</td>
                <td>60000 vnđ</td>
                <td>55000 vnđ</td>
                <td>75000 vnđ</td>
            </tr>
            <tr>
                <td>Sau 17h</td>
                <td>70000 vnđ</td>
                <td>55000 vnđ</td>
                <td>85000 vnđ</td>
            </tr>
        </tbody>
    </table>
</div>