<div class="row">
    <h3>Xem giá vé:</h3>
    <br>
    <table class="table table-hover" style="border:1px solid ">
        <thead>
            <tr>
                <th colspan="4" style="background :lightgray;">Giá vé 2D:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th>Thứ 2,4,5</th>
                <th>Thứ 3</th>
                <th>Thứ 6,7,CN</th>
            </tr>
            <tr>

                <td><b>Trước 17h</b></td>
                <td>
                    <div *ngFor="let priceTicket of priceTickets">
                        <div *ngIf="priceTicket.idPriceTicket==2">
                            {{priceTicket.timeFrameType.priceType+priceTicket.dayWeekPrice}}</div>
                    </div>
                </td>
                <td>
                    <div *ngFor="let priceTicket of priceTickets">
                        <div *ngIf="priceTicket.idPriceTicket==1">
                            {{priceTicket.timeFrameType.priceType+priceTicket.dayWeekPrice}}</div>
                    </div>
                </td>
                <td>
                    <div *ngFor="let priceTicket of priceTickets">
                        <div *ngIf="priceTicket.idPriceTicket==3">
                            {{priceTicket.timeFrameType.priceType+priceTicket.dayWeekPrice}}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>Sau 17h</b></td>
                <td>
                    <div *ngFor="let priceTicket of priceTickets">
                        <div *ngIf="priceTicket.idPriceTicket==5">
                            {{priceTicket.timeFrameType.priceType+priceTicket.dayWeekPrice}}</div>
                    </div>
                </td>
                <td>
                    <div *ngFor="let priceTicket of priceTickets">
                        <div *ngIf="priceTicket.idPriceTicket==4">
                            {{priceTicket.timeFrameType.priceType+priceTicket.dayWeekPrice}}</div>
                    </div>
                </td>
                <td>
                    <div *ngFor="let priceTicket of priceTickets">
                        <div *ngIf="priceTicket.idPriceTicket==6">
                            {{priceTicket.timeFrameType.priceType+priceTicket.dayWeekPrice}}</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table table-hover" style="border:1px solid ">
        <thead>
            <tr>
                <th colspan="4" style="background :lightgray;">Giá vé 3D:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th>Thứ 2,4,5</th>
                <th>Thứ 3</th>
                <th>Thứ 6,7,CN</th>
            </tr>
            <tr>

                <td><b>Trước 17h</b></td>
                <td>
                    <div *ngFor="let priceTicket of priceTickets">
                        <div *ngIf="priceTicket.idPriceTicket==2">
                            {{priceTicket.timeFrameType.priceType+priceTicket.dayWeekPrice+20000}}</div>
                    </div>
                </td>
                <td>
                    <div *ngFor="let priceTicket of priceTickets">
                        <div *ngIf="priceTicket.idPriceTicket==1">
                            {{priceTicket.timeFrameType.priceType+priceTicket.dayWeekPrice+20000}}</div>
                    </div>
                </td>
                <td>
                    <div *ngFor="let priceTicket of priceTickets">
                        <div *ngIf="priceTicket.idPriceTicket==3">
                            {{priceTicket.timeFrameType.priceType+priceTicket.dayWeekPrice+20000}}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>Sau 17h</b></td>
                <td>
                    <div *ngFor="let priceTicket of priceTickets">
                        <div *ngIf="priceTicket.idPriceTicket==5">
                            {{priceTicket.timeFrameType.priceType+priceTicket.dayWeekPrice+20000}}</div>
                    </div>
                </td>
                <td>
                    <div *ngFor="let priceTicket of priceTickets">
                        <div *ngIf="priceTicket.idPriceTicket==4">
                            {{priceTicket.timeFrameType.priceType+priceTicket.dayWeekPrice+20000}}</div>
                    </div>
                </td>
                <td>
                    <div *ngFor="let priceTicket of priceTickets">
                        <div *ngIf="priceTicket.idPriceTicket==6">
                            {{priceTicket.timeFrameType.priceType+priceTicket.dayWeekPrice+20000}}</div>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
</div>