<div>
    <h2><b>Thêm chương trình Khuyến mãi</b></h2>
</div>
<hr>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <form>
            <div class="form-group ">
                <label for="exampleInputEmail1">Hình ảnh</label>
                <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Tiêu đề</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Thời gian bắt đầu</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Thời gian kết thúc</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Mức giảm giá</label>
                <input type="number" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Chi tiết</label>
                <textarea type="text" class="form-control" id="exampleInputPassword1"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Xác nhận</button>
        </form>
    </div>
</div>